body {
  background-image: linear-gradient(to bottom right, white, black, white);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 750px;
}

.cal {
  width: 360px;
  height: 570px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
#inner {
  display: flex;
  flex-wrap: wrap;
}
.button {
  border: 2px solid;
  padding: 20px;
  width: 90px;
  height: 90px;
  text-align: center;
  font-size: 40px;
  background-image: linear-gradient(to bottom right, gray, white, gray);
  color: black;
  border-color: black;
  border-radius: 30px;
}
.odd:nth-child(even) {
  background-image: linear-gradient(to bottom right, gray, white, gray);
  color: black;
}
.even:nth-child(odd) {
  background-image: linear-gradient(to bottom left, gray, white, gray);
  color: black;
}
.button:hover {
  transform: scale(1.04);
}
h1 {
  text-transform: uppercase;
  color: black;
}
.display {
  border: 1px solid black;
  padding: 20px 0 20px 0;

  width: 360px;
  font-size: 40px;
  text-align: end;
  background-color: gray;
  color: black;
  border: 1px solid aliceblue;
  border-radius: 10px;
}

@media only screen and (max-width: 600px) {
  .cal {
    width: 320px;
    height: 500px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  #inner {
    display: flex;
    flex-wrap: wrap;
  }
  .button {
    border: 2px solid;
    padding: 15px;
    width: 80px;
    height: 80px;
    text-align: center;
    font-size: 40px;
    background-image: linear-gradient(to bottom right, gray, white, gray);
    color: black;
    border-color: black;
    border-radius: 25px;
  }
  .odd:nth-child(even) {
    background-image: linear-gradient(to bottom right, gray, white, gray);
    color: black;
  }
  .even:nth-child(odd) {
    background-image: linear-gradient(to bottom left, gray, white, gray);
    color: black;
  }
  .button:hover {
    transform: scale(1.04);
  }
  .display {
    border: 1px solid black;
    padding: 15px 0 15px 0;

    width: 320px;
    font-size: 40px;
    text-align: end;
    background-color: gray;
    color: black;
    border: 1px solid aliceblue;
    border-radius: 10px;
  }
}
